@using Master.Web.Components
@using Master.Module
@inherits MasterRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Master.Web.Core
@model ModuleFormItemViewModel
@{
	var column = Model.ColumnInfo;
	var value = Model.Value?.ToString();
}
@if (column.MaxFileNumber == 1)
{
	//单图上传
	<div class="layui-form-item">
		<label class="layui-form-label">@column.ColumnName</label>
		<div class="layui-input-block">
			<div class="layui-upload">
				<div class="layui-upload-list">
					@if (!string.IsNullOrEmpty(value))
					{
						<img class="layui-upload-img thumb" src="/File/Thumb?fileid=@value&w=120&h=120" fileID="@value" style="max-width:120px;max-height:120px;@(value==""?"display: none;":"")">
					}

				</div>
			</div>
		</div>
	</div>

}
else
{
	//多图片上传
	<div class="layui-form-item">
		<input type="hidden" name="@column.ColumnKey" value="" />
		<label class="layui-form-label">@column.ColumnName</label>
		<div class="layui-input-block">
			<div class="layui-upload">
				<div class="layui-upload-list">
					<table class="layui-table">
						<thead>
							<tr>
								<th>@L("图片")</th>
								<th>@L("文件名")</th>
								<th>@L("大小")</th>
							</tr>
						</thead>
						<tbody id="@(column.ColumnKey)List">
							@if (!string.IsNullOrEmpty(value))
							{
								var fileids = value.Split(',').Select(x => int.Parse(x));
								var files = await FileManager.GetListByIdsAsync(fileids);
								foreach (var file in files)
								{
									<tr>
										<td><img class="layui-upload-img thumb" fileID="@file.Id" src="/File/Thumb?fileid=@file.Id&w=80&h=80" /></td>
										<td>@file.FileName</td>
										<td>@(file.FileSize)kb</td>
									</tr>

								}

							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
}