@using Master.Web.Components
@using Master.Configuration.Dictionaries
@using Master.Module
@inherits MasterRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Master.Web.Core
@model ModuleFormItemViewModel
@{
	var column = Model.ColumnInfo;
	//展示方式
	var controlFormat = string.IsNullOrWhiteSpace(column.ControlFormat) ? "select" : column.ControlFormat;
	var value = Model.Value?.ToString();

	value = DictionaryHelper.GetDictionaryValue(column.DictionaryName, value);
	var renderer = !string.IsNullOrEmpty(column.Renderer) ? column.Renderer : "lay-select-view";
}

<div is="@renderer" :column-Info="{ColumnKey:'@column.ColumnKey',ColumnName:'@column.ColumnName',ControlFormat:'@column.ControlFormat'}"  value="@value"></div>

@*<div class="@(inline?"layui-inline":"layui-form-item")">
	<label class="layui-form-label">@column.ColumnName</label>
	<div class="@(inline?"layui-input-inline":"layui-input-block")">
		@value
	</div>
</div>*@
