@using Master.Web.Components
@using Master.Module
@inherits MasterRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Master.Web.Core
@model ModuleFormItemViewModel
@{
	var column = Model.ColumnInfo;

	var renderer = !string.IsNullOrEmpty(column.Renderer) ? column.Renderer : "lay-textarea-view";
}

<div is="@renderer" value="@(Model.Value?.ToString())" :column-Info="{ColumnKey:'@column.ColumnKey',ColumnName:'@column.ColumnName',VerifyRules:'@column.VerifyRules'}"></div>

@*<div class="layui-form-item layui-form-text">
	<label class="layui-form-label">@column.ColumnName</label>
	<div class="layui-input-block">
		@Model.Value?.ToString()
	</div>
</div>*@