@using Microsoft.AspNetCore.Http;
@model Senparc.Weixin.MP.Helpers.JsSdkUiPackage
@inherits Master.Web.Components.MasterRazorPage<TModel>
@await Html.PartialAsync("/Views/Shared/_WeUICommon.cshtml")
@section styles{
    <link href="/Views/MES/Rcss.css" rel="stylesheet" />
    <link rel="stylesheet" href="/lib/iconfont/wechaticon.css" asp-append-version="true">
    <link rel="stylesheet" href="/lib/jqueryweui/lib/weui.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/lib/jqueryweui/css/jquery-weui.min.css" asp-append-version="true">

    <style>

        /*input {
            border-radius: 4px!important;
        }*/
        .layui-form-item .my-layui-select {
            text-align: right;
            right: 10px;
            padding: 8px 0;
            width: 110px;
            border-style: none;
        }

        .my-five {
            margin-left: 12px;
        }

        .my-layui-select-five {
            text-align: right;
            right: 10px;
            padding: 8px 0;
            width: 60px;
        }

        .layui-form-item .my-input-inline-five {
            width: 100px;
        }

        .my-layui-card {
            width: 970px;
            margin: 0 auto;
        }

        .my-layui-sub {
            position: absolute;
            top: -50px;
            right: 10px;
        }

        .my-layui-bold {
            height: 65px;
            line-height: 65px;
            box-shadow: 2px 2px 4px #ddd;
        }

        .my-textarea-btn {
            display: inline-block;
            vertical-align: top;
            /*position:relative;
            top:-97px;
            left:27px;*/
        }

        .partname-span {
            display: inline-block;
            position: relative;
            height: 95%;
            font-size: 14px;
            border-radius: 2px 0 0 2px;
            background-color: #d2d2d2;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background: 0 0;
            color: #666;
            line-height: 36px;
        }

        .xm-form-select .xm-select-dl {
            max-width: 80%;
            /*设置下拉框的宽度*/
        }

        div[fs_id="unitName"] .xm-form-select .xm-select-dl {
            max-width: 240px;
        }

        .xm-form-select .xm-select-dl .xm-cz-group {
            max-width: none !important;
        }

        .my-required-span {
            font-size: 14px;
            color: red;
        }

        .my-five .xm-form-select .xm-select-dl {
            max-width: 180px;
        }

        div[xm-hg] .xm-select-label {
            right: 23px;
        }

        .xm-select-parent .xm-select-sj {
        }
        /*----------------------------工艺流程-----------------------------------------*/
        .my-li-typeName .my-lity-span, .my-li-date span {
            color: #ccc;
        }

        .my-tasksli-active span {
            color: black !important;
        }

        .my-tasksli-active.my-li-typeName span {
            font-size: 16px;
        }

        .my-tasksli-active.my-li-typeName {
            background: #fff2a8 !important;
        }
        /*----------------------------------------------------------------------------------*/
        .defalut-gray {
            color: gray;
        }
        /*-----------------------------------云设备--------------------------------------------------*/
        .my-unitname-cloud {
            max-width: 200px;
            max-height: 300px;
            left: 245px;
            top: 39px;
            overflow-y: auto;
            animation-fill-mode: both;
            -webkit-animation-name: layui-upbit;
            animation-name: layui-upbit;
            -webkit-animation-duration: .3s;
            animation-duration: .3s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .my-unitname-cloud, #hoveredLi {
            border: 1px solid #d2d2d2;
            position: absolute;
            z-index: 999;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0,0,0,.12);
            box-sizing: border-box;
            display: none;
        }

        .my-unitnamecld_opened {
            display: block;
        }

        #dom-unitnamecld_ul {
            margin-top: 7px;
            position: relative;
        }

        .unitcld-li_span {
            position: relative;
            left: 30px;
        }

        #dom-unitnamecld_ul li {
            position: relative;
            cursor: pointer;
            height: 36px;
            padding: 0 10px;
            line-height: 36px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #hoveredLi {
            padding: 5px 3px;
            top: 166px;
            left: 860px;
            max-width: 200px;
            height: 154px;
        }

            #hoveredLi li {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

                #hoveredLi li span:first-child {
                    white-space: nowrap;
                    font-size: 14px;
                    line-height: 36px;
                    font-weight: 600;
                }

                #hoveredLi li span:last-child {
                    font-size: 13px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

        #dom-unitnamecld_ul i {
            color: #fff;
            font-size: 16px;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 9px;
            border: 1px solid #5fb878;
            border-radius: 20px;
            z-index: 2;
        }

        #dom-unitnamecld_ul .opened i {
            border: none;
            color: #009688;
            font-size: 18px;
            top: 1px;
        }

            #dom-unitnamecld_ul .opened i:after {
                content: '\e62b';
            }

        .dom-unitnamecld_li:hover {
            background: #f0f0f0;
        }

        #my-unitnamecld-b {
            margin-left: 10px;
            margin-top: 10px;
            display: block;
        }
        /*font[fsw="xm-select"] {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 90px;
            display: inline-block;
        }*/
        /*---------------------------------------------*/
        .my-unit-wrap {
            position: relative;
        }

        .my-unit-span {
            font-size: 14px;
            position: absolute;
            right: 5px;
            top: 7px;
        }

        .layui-input-block {
            margin-left: 90px;
        }

        .my-file-wrap {
            display: inline-block;
            padding-left: 70px;
            vertical-align: top;
            position: relative;
        }

        .my-file-div {
            left: 192px;
            position: absolute;
            height: 150px;
            width: 150px;
            top: 0;
        }

        .my-file-img {
            width: 95%;
            height: 100%;
            vertical-align: top;
            -o-object-fit: cover;
            object-fit: cover;
        }

        /*.layui-form-item .layui-input-inline {
            width: 190px;
        }*/

        .gobackhome {
            position: fixed;
            display: flex;
            top: 20px;
            left: 10px;
            font-size: 20px;
            z-index: 999;
        }

        #imglist img {
            width: 100%;
            height: 100%;
            vertical-align: top;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .layui-fluid {
            padding: 0;
        }

        .layui-card-body {
            padding: 10px 0;
        }
        .msg-h3 {
            color: #000;
            font-weight: 500;
            padding: 50px 0;
            height: 60vh;
        }
    </style>

}


@*<div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">*@
<a href="~/MES/Index/factory" class="gobackhome">
    <i class="iconfont icon-fanhui"></i>
</a>


<div class="layui-fluid" id="LAY-app-message">

    <div class="layui-card my-layui-card layui-hide" id="app" v-cloak> 
        <div class="layui-card-header bold my-layui-bold"><i class="layui-icon layui-icon-next"></i>{{$.getUrlParam("taskid")?'审核开单':'加工申请'}}</div>
        <h3 class="msg-h3" v-show="!ConfirmProcessFlag">您暂无审核权限，如需审核请联系管理员</h3>
        <div class="layui-card-body"  v-show="ConfirmProcessFlag">
            <div id="hoveredLi">
                <ul>
                    <li :title="liMesseage.companyName">
                        <span>加工点:</span><span>{{liMesseage.companyName }}</span>
                    </li>
                    <li :title="liMesseage.mobile">
                        <span>电话:</span><span>{{liMesseage.mobile}}</span>
                    </li>
                    <li :title="liMesseage.address">
                        <span>地址:</span><span>{{liMesseage.address}}</span>
                    </li>
                    <li :title="liMesseage.speciality">
                        <span>特长:</span><span>{{liMesseage.speciality}}</span>
                    </li>
                </ul>
            </div>
            <form class="layui-form " action="">
                <div class="layui-form-item my-layui-sub">
                    <div v-if="$.getUrlParam('taskid')">
                        <button class="layui-btn layui-btn-radius layui-btn-primary" lay-submit="" lay-filter="submit" type="button">
                            审核
                        </button>
                        <button class="layui-btn layui-btn-radius layui-btn-primary" type="button" onclick="doSend()" tips="发送加工单给加工点" v-show="!currentItem.inner&&abp.auth.isGranted('Module.JGKD.Button.SendToUnit')">发送</button>
                    </div>
                    <div class="layui-btn-container" v-else>
                        <button class="layui-btn layui-btn-radius layui-btn-primary" lay-submit="" lay-filter="submit" type="button">
                            保存
                            @*{{abp.setting.values["MES.MustConfirmProcess"]&&abp.auth.isGranted('Module.JGKD.Button.ConfirmProcess')?"审核":"保存"}}*@
                        </button>
                        <button class="layui-btn layui-btn-radius layui-btn-primary" type="button" onclick="doSend()" tips="发送加工单给加工点" v-show="!currentItem.inner&&abp.auth.isGranted('Module.JGKD.Button.SendToUnit')">发送</button>@*厂内单子||用户无发送权限||开了审核模式*@

                        <button class="layui-btn layui-btn-radius layui-btn-primary" lay-submit="" lay-filter="submitNext" type="button">下一道</button>
                    </div>

                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label my-layui-select">模具编号<span class="my-required-span">*</span></label>
                        <div class="layui-input-inline" id="projectSNSelect" title="">
                            <!--<input type="text" v-model="currentItem.projectSN" autocomplete="off" class="layui-input " lay-verify="required">-->
                            <select name="projectSN" xm-select="projectSN" xm-select-radio="" xm-select-search="" lay-verify="required" lay-vertype="tips" xm-select-height="36px"></select>
                        </div>
                    </div>
                    @*<div class="layui-inline">
                <label class="layui-form-label my-layui-select">预约日期</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="currentItem.appointDate" autocomplete="off" class="layui-input layui-date" lay-key="2" id="date2">
                </div>
            </div>*@
                    <div class="layui-inline">
                        <label class="layui-form-label my-layui-select">零件名称<span class="my-required-span">*</span></label>
                        <div class="layui-input-inline" id="partNameSelect" title="">
                            <!--<input type="text" v-model="currentItem.partName" autocomplete="off" class="layui-input" lay-verify="required">-->
                            <select name="partName" xm-select="partName" xm-select-radio="" xm-select-search="" lay-verify="required" lay-vertype="tips" xm-select-height="36px"></select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label my-layui-select">要求完成日期</label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="currentItem.requireDate" autocomplete="off" class="layui-input layui-date" lay-key="1" id="date1">
                        </div>
                    </div>
                    @*<div class="layui-inline">
                <label class="layui-form-label my-layui-select">规格</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="currentItem.partSpecification" autocomplete="off" class="layui-input">
                </div>
            </div>*@
                    <div class="layui-inline">
                        <label class="layui-form-label my-layui-select">数量<span class="my-required-span">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="currentItem.partNum" autocomplete="off" class="layui-input" lay-verify="required|number">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label my-layui-select">加工工艺<span class="my-required-span">*</span></label>
                        <div class="layui-input-inline">
                            <!--<input type="text" v-model="currentItem.processType" autocomplete="off" class="layui-input" lay-verify="required">-->
                            <select name="processTypeName" xm-select="processTypeName" xm-select-radio="" xm-select-search="" lay-verify="required" lay-vertype="tips" xm-select-height="36px"></select>
                        </div>
                    </div>
                    <div class="layui-inline" v-show="!currentItem.inner">
                        <label class="layui-form-label my-layui-select">加工点</label>
                        <div class="layui-input-inline">
                            <!--<input type="text" v-model="currentItem.unitName" autocomplete="off" class="layui-input" lay-verify="required">-->
                            <select name="unitName" xm-select="unitName" xm-select-radio="" xm-select-search="" xm-select-height="36px" lay-vertype="tips"></select>
                        </div>
                    </div>
                    <div class="layui-inline" v-show="currentItem.inner">
                        <label class="layui-form-label my-layui-select">设备</label>
                        <div class="layui-input-inline">
                            <select name="equipmentSN" xm-select="equipmentSN" xm-select-radio="" xm-select-search="" xm-select-height="36px" lay-vertype="tips"></select>
                        </div>
                    </div>
                    @*<div class="layui-inline  my-unit-wrap">
                <label class="layui-form-label my-layui-select">预计工时</label>
                <div class="layui-input-inline">
                    <input type="text" name="estimateHours" autocomplete="off" class="layui-input" v-model="currentItem.estimateHours" lay-verify="passnumber" lay-vertype="tips">
                    <span class="my-unit-span">h</span>
                </div>
            </div>*@
                    @*<div class="layui-inline">
                <label class="layui-form-label my-layui-select">加工单价</label>
                <div class="layui-input-inline">
                    <input type="text" name="price" autocomplete="off" class="layui-input" v-model="currentItem.price">
                </div>
            </div>*@
                </div>
                <div class="layui-form-item">
                    @*<div class="layui-inline">
                <label class="layui-form-label my-layui-select">计价方式</label>
                <div class="layui-input-inline">
                    <select name="feeType" xm-select-radio="" xm-select="feeType" xm-select-search="">
                        <option value="">请选择</option>
                        <option value="0">承包</option>
                        <option value="1">按时间</option>
                        <option value="2">按平方</option>
                        <option value="3">按长度</option>
                        <option value="4">按重量</option>
                        <option value="5">按数量</option>
                    </select>
                </div>
            </div>*@
                    @*<div class="layui-inline">
                <label class="layui-form-label my-layui-select">{{FeeTypeContent.PriceName}}</label>
                <div class="layui-input-inline">
                    <input v-show="FeeTypeContent.PriceName=='承包金额'" type="text" name="2" autocomplete="off" class="layui-input" v-model="currentItem.jobFee">
                    <input v-show="FeeTypeContent.PriceName=='加工单价'" type="text" name="2" autocomplete="off" class="layui-input" v-model="currentItem.price">
                </div>
            </div>*@
                    <div class="layui-inline" v-if="FeeTypeContent.feeFactor">
                        <label class="layui-form-label my-layui-select">{{FeeTypeContent.feeFactor}}</label>
                        <div class="layui-input-inline my-unit-wrap">
                            <input type="text" lay-verify="passnumber" lay-vertype="tips" name="feeFactor" autocomplete="off" class="layui-input" v-model="currentItem.feeFactor">
                            <span class="my-unit-span">{{FeeTypeContent.feeFactorName}}</span>
                        </div>
                    </div>
                </div>

                @*<div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label my-layui-select">实际工时</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="currentItem.actualHours" autocomplete="off" class="layui-input" lay-verify="number">
                </div>
            </div>
        </div>*@

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label my-layui-select">工艺要求<span class="my-required-span">*</span></label>
                    <div class="layui-input-block" style="display:inline-block;margin-left:0px;">
                        <textarea placeholder="请输入加工内容与要求" class="layui-textarea" lay-verify="required" lay-vertype="tips" v-model="currentItem.taskInfo" :class="{'defalut-gray':isDefault}"></textarea>
                    </div>

                    @*<div class="layui-form-item my-file-wrap">
                <button type="button" class="layui-btn layui-btn-sm"  onclick="choose()" >加工示意图</button>
                <div id="imglist" style="width:100%; ">
                    <img :src="currentItem.sheetFile.filePath" v-show="currentItem.sheetFile.filePath!=null" alt="Alternate Text" />
                </div>
            </div>*@
                </div>
                <div>
                    <div v-if="currentItem.id" style="padding: 0 35px;">
                        <p>加工示意图</p>
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles" v-if="currentItem.sheetFile&&currentItem.sheetFile.filePath">
                                <li class="weui-uploader__file" :style="{'background-image':currentItem.sheetFile?'url('+currentItem.sheetFile.filePath+')':''}"></li>
                            </ul>
                        </div>
                    </div>
                    <wx-uploader-img v-model="currentItem.files" :setting="{sourceType:true}" v-else></wx-uploader-img>
                </div>
                <div style="display:flex;justify-content:flex-start;align-items:center;">
                    <div class="layui-form-item my-textarea-btn">
                        <label class="layui-form-label my-layui-select-five ">加急</label>
                        <div class="layui-input-block">
                            @*<input type="checkbox" name="open" lay-skin="switch" lay-filter="emergency" title="开关" :checked="currentItem.emergency">*@
                            <lay-switch :value="currentItem.emergency" filter="emergency" @@on-change="swtichEmergency($event)" :disabled="disabled.verified||disabled.running" />
                        </div>
                    </div>
                    <div class="layui-form-item my-textarea-btn">
                        <label class="layui-form-label my-layui-select-five ">厂内</label>
                        <div class="layui-input-block">
                            @*<input type="checkbox" name="close" lay-skin="switch" lay-filter="bFactory" :checked="currentItem.inner==true">*@
                            <lay-switch :value="currentItem.inner" filter="inner" @@on-change="switchInner($event)" :disabled="disabled.verified||disabled.running" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label my-layui-select">审核人</label>
                        <div class="layui-input-inline">
                            <select name="verifier" xm-select="verifier" xm-select-radio="" xm-select-search="" xm-select-height="36px" xm-select-create xm-select-search-type="dl" v-fs-disabled="disabled.verified"></select>
                        </div>
                        @*<div class="layui-input-inline">
                            <input type="text" class="layui-input" v-mdoel="currentItem.verifier">
                        </div>*@
                    </div>  
                </div>
            </form>
        </div>
    </div>

    @*<table id="PartTask" lay-filter="PartTask"></table>*@
</div>

@section scripts{
    <script type="text/html" id="tasks">
        <ul class="my-tasks-ul" data-partid="{{d.id}}">
            {{#  layui.each(d.tasks, function(index, item){ }}
            {{#
            if(typeof item.startDate=='string'){
            var startDate=item.startDate.split('-').join('.')
            }
            if(typeof item.endDate=='string'){
            var endDate='-'.concat(item.endDate.split('-').join('.'))
            }
            var typeBack;
            switch(item.processTaskStatus)
            {
            case 0:
            typeBack="rgba(218,218,218,0.5)";
            break;
            case 1:
            typeBack="rgba(250,118,59,0.5)";
            break;
            case 2:
            typeBack="rgba(0, 253, 255, .5)";
            break;
            case 3:
            typeBack="rgba(38,153,246,0.5)";
            break;
            case 4:
            typeBack="rgba(117,210,57,0.5)";
            break;
            case 5:
            typeBack="rgba(252, 252, 0,0.5)";
            break;
            default:
            typeBack="rgba(189, 189, 189, .5)";
            }
            var actived='';
            if(item.id==app.currentItem.id){
            actived='my-tasksli-active';
            }else{
            actived='';
            }
            @*if(actived){
                    typeBack=typeBack.replace('0.5',1);
                }*@

            }}
            <li class="my-tasks-li">
                <div class="my-li-typeName {{actived}} " style="border-color:{{typeBack}};" tips="双击切换加工单" ondblclick=" typeNameDbClick(this, {{item.id}}) ">
                    <span class="my-lity-span" style=" white-space: nowrap">{{ item.processTypeName }}</span>
                </div>
                <div class="my-li-date {{actived}}" data-itemid="{{item.id }}" data-ptstatus="{{item.processTaskStatus}}" title="点击报工" onclick="reportTimes({{item.id }},{{item.processTaskStatus}})">
                    <span class=" my-lidate-span">{{startDate || ''}}</span>
                    <span class=" my-lidate-span">{{endDate || '' }}</span>
                </div>
                {{# if(item.processTaskStatus!=3&&(item.processTaskStatus!=4)){ }}
                <i class="iconfont icon-qingkong1 my-li-delete"></i>
                {{# } }}
            </li>
            @*<li class="my-tasks-li">
                    <div class="my-li-typeName " style="border-color:{{typeBack}};" tips="双击编辑加工单" ondblclick="editSheet({{item.id}})">
                        <span class="my-lity-span" style=" white-space: nowrap">{{ item.processTypeName }}</span>
                    </div>
                    <div class="my-li-date" data-itemid="{{item.id }}" data-ptstatus="{{item.processTaskStatus}}" title="点击报工" onclick="reportTimes({{item.id }},{{item.processTaskStatus}})">
                        <span class=" my-lidate-span">{{startDate || ''}}</span>
                        <span class=" my-lidate-span">{{endDate || '' }}</span>
                    </div>
                    <i class="iconfont icon-qingkong1 my-li-delete"></i>
                </li>*@
            {{#  }); }}
            <li class="my-tasks-li_icon my-tasks_li-lock"><i class="iconfont icon-lock2" lay-direction="2" tips="锁定编辑" onclick="editLock(this)"></i></li>
            <li class="my-tasks-li_icon my-tasks_li-add"><i class="iconfont icon-jiahao" lay-direction="2" tips="添加工序" onclick="addProcess({{d.id}})"></i></li>
            @*<i class="my-tasks-add layui-icon layui-icon-tianjia2" tips="添加工序" onclick="addProcess({{d.id}})"></i>*@
        </ul>
    </script>
    <script type="text/html" id="partName">
        <div class="my-partName-show">
            <div class="my-partName-img picupload" partid="{{d.id}}" tips="点击上传零件图片">

                <img src={{d.partImg || '/assets/images/upImg1.png'}} alt="点击上传图片" />

                @*{{# else{ }}
                    <img src={{d.partImg}} alt="点击上传图片" style="width:75px;" />
                    {{# } }}*@
            </div>
            <div class="my-partName-msg">
                <p class="my-pNameMsg-p">零件:{{d.partName}}({{d.partSN}})</p>
                <div>
                    <span>规格:{{d.partSpecification}} </span>
                    <span style="margin-left:10px">数量:{{d.partNum}}</span>
                </div>
                <p class="my-pNameMsg-p">编号：{{d.projectSN}}</p>
            </div>
        </div>
    </script>
    @*<script src="/Views/MES/js/JGKD.js"></script>*@
    <script src="/assets/js/JGKD.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function () {
            editWidth();
            $(document).resize(function () {
                editWidth();
            })
            function editWidth() {
                var width = document.documentElement.clientWidth;
                $(".layui-form").css("width", parseInt(width - 31));
                $(".layui-card").css("width", parseInt(width - 20));
                console.log("屏幕大小", width);
            }
            if (!$.getUrlParam("taskid")) {//开单模式
                abp.services.app.session.getCurrentLoginInformations().done(res => {
                    $.extend(abp.session, res);
                })
            }

        })
        inBeforeSubmit = function () { //手机端处理图片等，要被重写的函数
            if (!$.getUrlParam("taskid")) {//开单模式
                //由于会默认读取上一次开单人，但在手机上精匠要读取当前微信绑定的系统账号
                app.currentItem.poster = abp.session.user.name;
                
                //Vue.set(app.currentItem, 'fromMobile', true);
                if (typeof app.currentItem.files[0] == "string") {//当手机上传图片时，和后台约定传给他['微信的图片id',''],如果是保存过一次或者带有taskid进入时，得到正常的files，此时应为[{fileName:'',filePath:'123.jpg'},{}];files空数组得到的是undefined
                    app.currentItem.files = app.currentItem.files.map(function (n) {
                        return { fileName: n }
                    })
                }
            } else {//编辑模式即审核
                //Vue.set(app.currentItem, 'fromMobile', false);
            }
      
        }

        // function choose() {
        //     var index = layer.load(1, {
        //         shade: [0.1, '#fff'] //0.1透明度的白色背景
        //     });
        //     var $that = $(this);
        //     wx.chooseImage({
        //         count: 1,
        //         //  sourcetype: ['camera'], // 可以指定来源是相册还是相机，默认二者都有
        //         success: function (res) {
        //             var localids = res.localIds; // 返回选定照片的本地id列表，localid可以作为img标签的src属性显示图片

        //             var localid = localids[0];
        //             wx.uploadImage({
        //                 localId: localid, // 需要上传的图片的本地id，由chooseimage接口获得
        //                 isShowProgressTips: 1, // 默认为1，显示进度提示
        //                 success: function (res) {
        //                     //alert(JSON.stringify(res));
        //                     var serverid = res.serverId; // 返回图片的服务器端id
        //                     abp.services.app.weiXin.downLoadMedia([serverid]).done(function (data) {
        //                         Vue.set(app.currentItem.sheetFile, 'filePath', data[0].filePath)
        //                       //  app.currentItem.sheetFile.filePath = data[0].filePath;
        //                         layer.close(index);
        //})





        //                 }
        //             });
        //         }
        //     });
        // }
    </script>
    <script src="@(this.Context.Request.Scheme)://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="~/lib/jquery-nstslider/jquery.nstSlider.js"></script>
    <script>
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '@Model.AppId', // 必填，公众号的唯一标识
            timestamp: '@Model.Timestamp', // 必填，生成签名的时间戳
            nonceStr: '@Model.NonceStr', // 必填，生成签名的随机串
            signature: '@Model.Signature',// 必填，签名
            jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2。详见：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
        });

        wx.error(function (res) {
			console.log(res);
			alert('验证失败:' + JSON.stringify(res));
        });

         wx.ready(function () {

            });
    </script>


}
