@using Master.Web.Components
@{
    ViewData["Title"] = "Index";
}

<div class="layui-fluid" id="LAY-app-message">

    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="labelTab">
            <ul class="layui-tab-title">
                <li class="layui-this ">标签编辑</li>
                <li class="">树形查看</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    @*<form class="layui-form layui-form-pane" onsubmit="return doSearch();">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">@L("标签名称")</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="labelName" name="labelName" autocomplete="off" class="layui-input">
                                </div>
                                <button class="layui-btn layui-btn-primary" type="button" onclick="config.reloadTable()">@L("搜索")</button>
                                <button class="layui-btn  " buttonname="@L("添加")" type="button" onclick="addLabel()">@L("添加")</button>
                            </div>
                        </div>
                    </form>*@
                    <div id="app" v-cloak>
                        <el-form :inline="true" :model="searchData" class="demo-form-inline" size="mini">
                            <el-form-item label="标签名称">
                                <el-input v-model="searchData.labelName" placeholder="标签名称"></el-input>
                            </el-form-item>
                            <el-select v-model="searchData.anYou"
                                       size="mini"                 
                                       clearable
                                       collapse-tags
                                       placeholder="案由">
                                <el-option v-for="item in anYous"
                                           :key="item.id"
                                           :label="item.name"
                                           :value="item.id">
                                </el-option>
                            </el-select>
                            <el-form-item label="类别">
                                <el-checkbox-group v-model="searchData.labelType">
                                    <el-checkbox label="标签"></el-checkbox>
                                    <el-checkbox label="关键词"></el-checkbox>
                                </el-checkbox-group>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @@click="doSearch">查询</el-button>
                                <el-button type="success" @@click="addLabel">添加</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                    <table autoevent="1" id="Labels" lay-filter="Labels" class="layui-table " lay-data="{cellMinWidth:'120',height:'full-170', url:'/api/services/app/label/GetPageResult', page:true, id:'Labels',limit:50,  even: true,done:config.onTableDone,initSort:{field:'Id',type:'desc'}}" @*lay-size="sm" *@>
                        <thead>
                            <tr>
                                <th lay-data="{field:'labelName',edit:'text'}">@L("标签名称")</th>
                                <th lay-data="{field:'labelType',templet:'#labelTypeTpl'}">@L("类别")</th>
                                <th lay-data="{field:'',templet:'#relativeTpl',width:'450'}">@L("对应结构")</th>
                                <th lay-data="{field:'sort',templet:'#sortTpl',width:'80'}">@L("排序")</th>
                                <th lay-data="{field:'creator'}">@L("创建人")</th>
                                <th lay-data="{field:'creationTime',sort:true,width:'140'}">@L("创建时间")</th>
                                <th lay-data="{align:'center', toolbar: '#toolbar'}">@L("操作")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-xs3">
                            <ul id="tree" class="ztree"
                                style="padding: 2px; border: 1px solid #ddd; overflow: auto;min-height:500px"></ul>
                        </div>
                        <div class="layui-col-xs9 ">
                            <table id="labelTable" lay-filter="labelTable"></table>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script type="text/html" id="labelTypeTpl">
        <span class="layui-badge layui-bg-blue" style="cursor:pointer" tips="点击切换类别" onclick="toggleLabelType({{d.id}},'{{d.labelType}}')">{{d.labelType}}</span>
    </script>
    <script type="text/html" id="relativeTpl">
        {{#  layui.each(d.relativeNodeStrings, function(index, item){ }}
        <span class="layui-badge layui-bg-blue" tips="{{item.join('-')}}">{{item[item.length-1]}}</span>
        {{#  }); }}

    </script>
    <script type="text/html" id="sortTpl">
        <input type="text" value="{{d.sort}}" size=5 onblur="setSort({{d.id}},this)" />
    </script>
    @*<script type="text/html" id="relativeTpl2">
        {{#  layui.each(d.relativeNames, function(index, item){ }}
        <div>{{item.join('-')}}</div>
        {{#  }); }}

    </script>*@
    <script type="text/html" id="toolbar">
        <a dataid="{{d.id}}" class="layui-btn layui-btn-xs " title="编辑" type="button" buttonname="编辑" modulekey="Labels" params="{&quot;area&quot;: [&quot;50%&quot;, &quot;90%&quot;]}" lay-event="Edit" confirmmsg="" buttonactiontype="Form" buttonactionurl="/BaseTree/LabelBind" onclick="func.callModuleButtonEvent()">编辑</a>
        <a dataid="{{d.id}}" class="layui-btn layui-btn-xs layui-btn-danger" title="删除" type="button" buttonname="删除" modulekey="Labels" params="" lay-event="Delete" confirmmsg="确认删除？" buttonactiontype="Ajax" buttonactionurl="abp.services.app.label.deleteEntity" onclick="func.callModuleButtonEvent()">删除</a>
    </script>
    <script>
        var app;

        config.ready = function () {
            app = new Vue({
                el: '#app',
                data: {
                    anYous:[],
                    searchData: {
                        labelType: ["标签", "关键词"]
                    }
                },
                computed: {
                    where: function () {
                        var strWhere = '1=1';
                        this.searchData.labelName && (strWhere += ` and labelName.Contains("${this.searchData.labelName}")`);
                        if (this.searchData.labelType.length) {
                            let whereWrapper = [];
                            this.searchData.labelType.forEach(o => whereWrapper.push(` labelType="${o}"`));
                            strWhere += ` and (${whereWrapper.join(' or ')})`;
                        }
                        return strWhere;
                    },
                    searchKeys: function () {
                        var obj = {};
                        this.searchData.anYou && (obj.anYou = this.searchData.anYou);
                        return obj;
                    }
                },
                methods: {
                    addLabel: function () {
                        layer.prompt({ title: '@L("请输入标签名称")', formType: 0 }, function (text, index) {
                                    layer.close(index);
                            doAdd(text);
                        });

                        function doAdd(text) {

                            func.runAsync(abp.services.app.label.add(text).done(function (data) {
                                layer.msg('@L("提交成功")');
                                config.reloadTable();

                            }));
                        }
                    },
                    doSearch: function () {
                        config.reloadTable();

                    }
                },
                mounted: function () {
                    var that = this;
                    abp.services.app.type.getAnYous().done(function (res) {
                        that.anYous = res;
                    })
                }
            })
            window.ztree = function () {
                var zTreeObj;
                var setting = {
                    view: { selectedMulti: false },
                    data: {
                        key: {
                            name: 'name',
                            title: 'name'
                        },
                        simpleData: {
                            enable: true,
                            idKey: 'id',
                            pIdKey: 'parentId',
                            rootPId: null
                        }
                    },
                    callback: {
                        onClick: function (event, treeId, treeNode) {
                            loadLabelTable(treeNode.id);
                            //searchKeys.parentId = treeNode.id;
                            //config.reloadTable();
                        }
                    }
                };
                var load = function () {
                    abp.services.app.baseTree.getTypeTreeJsonByParentId().done(function (json) {
                        nodes = json;
                        zTreeObj = $.fn.zTree.init($("#tree"), setting);
                        //var newNode = { briefName: "根节点", id: null, parentId: "" };
                        //json.push(newNode);
                        zTreeObj.addNodes(null, json);
                        //mainList({ orgId: "" });
                        zTreeObj.expandAll(true);
                    });
                };
                load();
                return {
                    reload: load
                };
            }();
            var element = layui.element;
            var table = layui.table;
            //一些事件监听
            element.on('tab(userTab)', function (data) {
                config.reloadTable();
            });
            layui.table.on('edit(Labels)', function (obj) {
                var value = obj.value //得到修改后的值
                    , data = obj.data //得到所在行所有键值
                    , field = obj.field; //得到字段
                //layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
                if (!value.trim()) {
                    layer.msg("输入不能为空", { icon: 5, anim: 6 });
                    return false;
                }
                abp.message.confirm(L('确认修改?'), function () {
                    func.runAsync(abp.services.app.label.updateField(data.id, field, value, {
                        error: function () {
                            layui.table.reload('Labels');
                        }
                    }).done(function () {
                        layer.msg('更新成功');
                    }));
                })

            });
            config.refresh();
        };
        config.refresh = function () {

        };
        config.reloadTable = function () {
            layui.table.reload('Labels', {
                where: getWhere()
            })
        }
        
        
        function getWhere(index) {
            var where = { searchKeys: JSON.stringify(app.searchKeys), where: '1=1' };

            //var value = $('#name-input').val();
            //if (value) {
            //    where.where += " and Title.Contains(\"" + value + "\")"
            //}
            where.where = app.where;
            //where.searchCondition = func.buildSearchCondition('CaseInitial');

            return where;

        }
        function toggleLabelType(id, labelType) {
            var targetLabelType = labelType == "标签" ? "关键词" : "标签";
            abp.message.confirm("确认切换类别为“" + targetLabelType + "”", function () {
                func.runAsync(abp.services.app.label.setLabelType(id, targetLabelType).done(function () {
                    config.reloadTable();
                }))
            })
            
        }

        function loadLabelTable(treeId) {
            func.runAsync(abp.services.app.baseTree.getRelativeLabelsWithOtherReference(treeId).done(function (data) {
                var cols = [
                    { field: 'labelName', title: '标签名称',align:'center' },
                    { field: 'relative', title: '其它关联', templet: '#relativeTpl', align: 'center' },
                ]
                layui.table.render({
                    cellMinWidth: 100,
                    limit: 10000,
                    elem: '#labelTable'
                    , cols: [cols]
                    , data: data
                });
            }));

        }
        function setSort(id, obj) {
            abp.services.app.label.setSort(id, obj.value).done(function () {
                //top.layer.msg('提交成功');
            })
        }
    </script>
}

