@using Master.Web.Components
@using Master.Authentication
@using Master.Entity
@using Master.Configuration
@model User
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
    var roles = ViewData["roles"] as List<Role>;
    var userroles = ViewData["userroles"] as List<string>;
    var statusDefinitions = ViewData["statusDefinitions"] as List<StatusDefinition>;

}
<div>
	<blockquote class="layui-elem-quote">
		@L("账号设置")
	</blockquote>
	<form class="layui-form">
		<input type="hidden" name="ids" value="@ViewData["data"]" />
		<div class="layui-form-item">
			<label class="layui-form-label">@L("启用")</label>
			<div class="layui-input-block">
				<input type="checkbox" name="isActive" lay-skin="switch" lay-text="ON|OFF" @(Model.IsActive ? "checked" : "") value="1" lay-filter="activeSwitch">
			</div>
		</div>
        <div id="container" style="display:none">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">@L("账号")</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" id="userName" autocomplete="off" class="layui-input" value="@Model.UserName">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">@L("密码")</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" id="password" autocomplete="new-password" class="layui-input" value="">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">@L("角色")</label>
                <div class="layui-input-block">
                    @foreach (var role in roles)
                    {
                        <input type="checkbox" name="roles" lay-skin="primary" title="@role.DisplayName" @(userroles.Contains(role.Name) ? "checked" : "") value="@role.Id">

                    }

                </div>
            </div>
            @*<div class="layui-form-item">
                <label class="layui-form-label">@L("独立用户")</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="Separate" lay-skin="switch" title="开关" value="1" lay-text="ON|OFF" @(Model.GetPropertyValue<bool>("Separate") ? "checked" : "")>

                </div>
                <div class="layui-form-mid layui-word-aux">独立用户只能查看自己录入的信息</div>
            </div>*@
            @foreach (var statusDefinition in statusDefinitions)
            {
                <div class="layui-form-item">
                    <label class="layui-form-label">@L(statusDefinition.DisplayName)</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="@statusDefinition.Name" lay-skin="switch" title="开关" value="1" lay-text="ON|OFF" @(Model.HasStatus(statusDefinition.Name) ? "checked" : "")>

                    </div>
                    <div class="layui-form-mid layui-word-aux">@statusDefinition.Tips</div>
                </div>
            }
            <div id="app">
                @*<div is="lay-userbindlogin" user-id="@Model.Id"></div>*@
            </div>
        </div>

		<vc:module-form-submit param="@(new ModuleFormSubmitViewParam() { ModuleKey="User",ButtonKey="Account"})"></vc:module-form-submit>
		@*<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" type="button" lay-submit="" lay-filter="submit">提交</button>
				</div>
			</div>*@
	</form>
</div>

@section scripts{
	<script>
		var app;
		config.ready = function () {
			app = new Vue({
				el:'#app'
			})

            var form = layui.form;

			form.on('switch(activeSwitch)', function (data) {
                if (data.elem.checked) {
                    $("#container").show();
                } else {
                    $("#container").hide();

                }
            })

            if ($("input[name='isActive']").prop("checked")) {
                $("#container").show();
            }
        }
        //function submit() {
        //    if ($("input[name='roles']:checked").size() == 0) {
        //        layer.msg(L('请选择角色'), { icon: 5 });

        //    }

        //}
	</script>

}
