@using System.Globalization
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using Master
@using Master.Configuration
@using Microsoft.AspNetCore.Http
@inject Master.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject WebCoreConfiguration WebCoreConfiguration
@inject IHttpContextAccessor ContextAccessor
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    if (ContextAccessor.HttpContext.Session.Get<Master.Authentication.User>("LoginInfo") == null)
    {
        ContextAccessor.HttpContext.Response.Redirect("/Account/Login");
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>@ViewBag.Title</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/view-resources/Views/_Bundles/base.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="/assets/layuiadmin/layui/css/layui.css" media="all" asp-append-version="true">
    <link href="~/assets/css/default.css" rel="stylesheet" asp-append-version="true" />
    <!-- View specific styles -->
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>

    <environment include="Development">
        <script src="~/view-resources/Views/_Bundles/base.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/view-resources/Views/_Bundles/base.min.js" asp-append-version="true"></script>
    </environment>
    <script src="/assets/layuiadmin/layui/layui.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/_Bundles/abp.min.js" asp-append-version="true"></script>
    <script src="/assets/js/abp.layer.js" asp-append-version="true"></script>
    <script src="~/assets/js/global.js" asp-append-version="true"></script>
    <script>
        layui.config({
            base: config.layuiBase //静态资源所在路径
            , version: 190618
        }).extend($.extend({
            index: config.layuiIndex //主入口模块
        }, config.layuiExtends));


    </script>
</head>
<body>
    @RenderSection("MainBody", required: false)
    <div class="layui-anim layui-anim-upbit" data-anim="layui-anim-upbit" style="padding:10px">
        @RenderBody()
    </div>
    <!-- 全局js -->
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/scripts/GetAll.js?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    @*<script src="~/scripts/GetScripts.js?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>*@
    @*<script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>*@
    @*<script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>*@


    <script type="text/html" id="activeTpl">
        {{#if(d.isActive){}}
        <span class="layui-badge layui-bg-blue">@L("有效")</span>
        {{#}else{}}
        <span class="layui-badge layui-bg-gray">@L("无效")</span>
        {{#}}}
    </script>
    @*<script type="text/html" id="colsThGuding">
            <div class="my-colsth-div {{ d.lockDone||'' }}" style="">
                <i class="iconfont icon-lock my-colsth-i" onclick="layuiExt.guDingLie(this)" title="固定列"></i>
            </div>
        </script>
        <script type="text/html" id="colsThShaixuan">
            <div class="my-colsth-div {{ d.lockDone||'' }}" style="">
                <i class="iconfont icon-shaixuan my-colsth-i" onclick="layuiExt.shuaiXuanLie(this)" title="筛选"></i>
            </div>
        </script>*@
    @foreach (var commonView in WebCoreConfiguration.CommonViews)
    {
        await Html.RenderPartialAsync(commonView);
    }

    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    @RenderSection("scripts", required: false)

    <script>
        layui.use(config.layuiModules, function () {
            //表单初始化
            func.initForm();
            //调用layui加载完事件
            for (fnIndex in config.readyFuncs) {
                var fn = config.readyFuncs[fnIndex];
                func.typeof(fn) == 'function' && fn();
            }
            config.readyFuncs.hadRun = true;
            config.ready();

        })
    </script>
</body>
</html>
